/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}
 
h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  align-self: center;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  margin: 20px;
}

.form-wrap {

  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin: 0 10px 0 10px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

.location,
.arrive,
.depart,
.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

.form-wrap {

  display: block;
}

}



@media all and (min-width: 750px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header ul li {
    margin-top: 15px;
    font-size: 18px;
  }
  /* form desktop */ 

  

  .form-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    
  }

  .location,
  .arrive,
  .depart,
  .type {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: auto;
  }

  form label {
    margin: 0;
    padding: 0;
    color: darkslategray;
  }

  form button {
    width: 120px;
    margin: 3px;
    padding: 5px;
  }

  form select,
  form input {
    margin: 0;
    width: 120px;
  }

/* about desktop */ 

  main .about-section img {
    margin: 0 10px 0 5px;
  }

.group {
  flex-direction: row;
}


  .item {
    align-self: center;
  }

  .item-double {

    margin-left: 10px ;
  }

  /* ideas desktop */ 

  .ideas-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .ideas-section img {
    display: flex;
    max-width: 650px;
  }

  .forest-beach-n-p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
  }

  .cabin-pet-n-p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
  }

  .forest-n-p {
    margin: 0 10px 0 10px;
  }

  .beach-n-p {
    margin: 0 10px 0 10px;
  }

  .cabin-n-p {
    margin: 0 10px 0 10px;
  }

  .pet-n-p {
    margin: 0 10px 0 10px;
  }

  /* host desktop */ 

  .host-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
  }

  .host-title-text-list-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8%;
  }

  .host-title {
    margin: 0;
    flex: 1;
    
  }

  .host-text-list {
    display: flex;
    flex: 1;
    flex-direction: column;

  }

  .host-text {
   margin: 0;

  }

  .host-list {
    margin: 0;
    display: flex;
    flex-direction: column;
 
  }

  .list-items {
    display: flex;
    flex-direction: column;

  }
 

  .host-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
  }

  

} 


@media all and (min-width: 972px) {

  .location,
  .arrive,
  .depart,
  .type {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
  }

  form select,
  form input {

    width: 180px
  }

  button {

    margin-left: auto;
  }
  .form {
    font-size: 12px;


  }


}